<section class="py-10" id="services">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-gray-800 mb-8 text-center">
      Discover Our Product
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="bg-white rounded-lg shadow-md overflow-hidden">
        <img
          src="../../assets/images/health insurance.jpg"
          alt="health insurance"
          class="w-full h-64 object-cover"
        />
        <div class="p-6 text-center">
          <h3 class="text-xl font-medium text-gray-800 mb-2">
            Health Insurance
          </h3>
          <p class="text-gray-700 text-base">
            The health insurance protects the health of each insured person in
            his personal and professional life by guaranteeing him access to
            care. It covers all or part of the reimbursement of health expenses
            in case of illness, maternity or accident. The SEVEN ASSURANCES
            health insurance protects you 7 days/ 7 days.
          </p>
        </div>
      </div>
      <div class="bg-white rounded-lg shadow-md overflow-hidden">
        <img
          src="../../assets/images/insurance all risk construction.jpg"
          alt="hinsurance all risk construction"
          class="w-full h-64 object-cover"
        />
        <div class="p-6 text-center">
          <h3 class="text-xl font-medium text-gray-800 mb-2">
            Insurance All Risk Construction
          </h3>
          <p class="text-gray-700 text-base">
            Insurance All Risk Construction is a cover specifically designed to
            protect construction projects from the risks associated with the
            execution of the work. It covers damages that may occur during the
            construction period and sometimes even after delivery of the work,
            according to the terms of the contract.
          </p>
        </div>
      </div>
      <div class="bg-white rounded-lg shadow-md overflow-hidden">
        <img
          src="../../assets/images/Car Insurance.jpg"
          alt="Car Insurance"
          class="w-full h-64 object-cover"
        />
        <div class="p-6 text-center">
          <h3 class="text-xl font-medium text-gray-800 mb-2">Car Insurance</h3>
          <p class="text-gray-700 text-base">
            What is SEVEN AUTOMOBILE INSURANCE used for? The main objective of
            SEVEN AUTOMOBILE INSURANCE is to cover property and/ or bodily
            damage that your vehicle may cause to others. Depending on the
            coverage, it may also cover: the material damage suffered by your
            vehicle, but also on all your damaged goods. your own personal
            injury following a traffic accident (hospitalization, work stoppage,
            etc...).
          </p>
        </div>
      </div>
      <div class="bg-white rounded-lg shadow-md overflow-hidden">
        <img
          src="../../assets/images/how-to-find-fair-and-affordable-school-insurance.jpeg"
          alt="School Insurance"
          class="w-full h-64 object-cover"
        />
        <div class="p-6 text-center">
          <h3 class="text-xl font-medium text-gray-800 mb-4">
            School Insurance
          </h3>
          <p class="text-gray-700 text-base mb-4">
            SEVEN SCHOOL INSURANCE protects your child against damage caused or
            suffered at school, college, or high school. In principle, school
            insurance is optional. However, it may be mandatory in some cases.
          </p>
          <ul class="space-y-4 text-left text-gray-700">
            <li class="flex items-center">
              <span
                class="bg-blue-500 text-white w-8 h-8 flex items-center justify-center rounded-full font-bold mr-4"
                >1</span
              >
              <p>
                <strong>Civil Liability Coverage:</strong> Covers damages caused
                by the child.
              </p>
            </li>
            <li class="flex items-center">
              <span
                class="bg-green-500 text-white w-8 h-8 flex items-center justify-center rounded-full font-bold mr-4"
                >2</span
              >
              <p>
                <strong>Personal Injury Guarantee:</strong> Covers damages to
                the child, including self-injury.
              </p>
            </li>
          </ul>
        </div>
      </div>

      <!-- special card -->
      <div
        class="bg-white rounded-lg bg-gradient-to-tr from-pink-300 to-blue-300 p-0.5 shadow-lg overflow-hidden min-h-full"
      >
        <div class="text-center text-white font-medium">Special product</div>
        <img
          src="../../assets/images/individual accident insurance.jpg"
          alt="Coffee"
          class="w-full h-64 object-cover rounded-t-lg"
        />
        <div class="p-6 bg-white text-center rounded-b-lg md:min-h-full">
          <h3 class="text-xl font-medium text-gray-800 mb-2">
            Individual Accident Insurance
          </h3>
          <p class="text-gray-700 text-base">
            <span class="font-medium underline">Our speciality is</span>
            Individual Accident insurance guarantees the repair of consequences
            of bodily injury in the course of your work or in your private life.
          </p>
        </div>
      </div>

      <div class="bg-white rounded-lg shadow-md overflow-hidden">
        <img
          src="../../assets/images/house insurence.jpg"
          alt="house insurence"
          class="w-full h-64 object-cover"
        />
        <div class="p-6 text-center">
          <h3 class="text-xl font-medium text-gray-800 mb-2">
            MULTI-RISK HOME INSURANCE
          </h3>
          <p class="text-gray-700 text-base">
            The Residential Property Insurance (HRM) contract covers damage that
            could affect the insured’s property: fire, water damage, freezing of
            pipes, natural disaster and storm, burglary and vandalism, ice
            breakage.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mb-10">
  <h2 class="text-3xl font-bold text-gray-800 mb-14 text-center">
    Discover Our Partners
  </h2>
  <div class="flex justify-center gap-8">
    <!-- Card 1 -->
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
        <img class="rounded-t-lg" src="../../assets/images/pt1.png" alt="Partner 1" />
      </a>
    </div>
    <!-- Card 2 -->
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
        <img class="rounded-t-lg" src="../../assets/images/pt2png.png" alt="Partner 2" />
      </a>
    </div>
    <!-- Card 3 -->
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
        <img class="rounded-t-lg" src="../../assets/images/pt3.png" alt="Partner 3" />
      </a>
    </div>
  </div>
</section>

